body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("images/bck.jpeg"); 

}

.form-container {
    width: 300px;
    padding: 30px;
    padding-top: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#email {
    width:100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#email:focus {
    outline: none;
    border-color: #0066cc;
}

button[type="submit"] {
    padding: 8px 12px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0052b3;
}

#submit-container{
    text-align: center;
    margin-top: 10px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.info-icon {
    margin-left:5px;
    cursor: pointer;
}
.info-icon::after {
    content: "i";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ccc;
    color: #0a0909;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

.info-tooltip{
    position: absolute;
    top: 20px;
    right: -80px;
    width: 200px;;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    visibility: visible ;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.info-icon:hover + .info-tooltip {
    opacity: 1;
    visibility: visible;
}
